* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
}

#header {
  background-image: url(img/bg.jpg);
  width: 100%;
  height:80vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo {
  display: flex;
  cursor: pointer;
}
.logo h2 {
  /* margin-top: 4px; */
  color: white;
  margin-left: 75px;
  font-size: 25px;
}
.logo img {
  width: 60px;
  position: absolute;
  top: 6px;
  left: 8px;
  color: white;
}
.logo span {
  /* font-weight: 600; */
  font-size: 28px;
  color: rgb(155, 198, 250);
}
.logo h2{
    color: white;
    font-size: 25px;
}
.nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(58, 58, 58, 0.281);
}

.nav-bar nav {
  display: flex;
  margin-right: 20px;
}
nav li {
  padding-right: 14px;
  list-style: none;
}
nav li a {
  transition: 0.5s;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: rgb(131, 214, 235);
}

.container {
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-bottom: 150px; */
}
.container h2 {
  color: white;
  font-size: 40px;
}
.container p {
  color: white;
  margin: 10px;
}
.btn button {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
.bubble img {
  width: 40px;
  animation: bubble 7s linear infinite;
}
.bubble {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
  opacity: 0.2;
  z-index: 1;
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubble img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubble img:nth-child(2) {
  animation-delay: 6s;
}
.bubble img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubble img:nth-child(4) {
  animation-delay: 7s;
}
.bubble img:nth-child(5) {
  animation-delay: 5s;
}
.bubble img:nth-child(6) {
  animation-delay: 1s;
  width: 20px;
}
.bubble img:nth-child(7) {
  animation-delay: 4.5s;
  width: 35px;
}

#close {
  display: none;
}
#menu {
  display: none;
  color: white;
}
@media (max-width: 600px) {
  #header{
    height: 80vh;
  }
  .nav {
    padding-top: 0px;
  }
  .logo {
    padding-top: 20px;
  }
  .nav-bar {
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    position: fixed;
    background-color: whitesmoke;
    z-index: 6;
    transition: 0.5s;
  }
  .nav-bar nav {
    display: block;

    margin-left: 15px;
  }
  nav li {
    margin-top: 28px;
  }
  nav li a {
    color: black;
    font-size: 20px;
  }
  #close {
    display: block;
    font-size: 30px;
    margin: 15px;
  }
  #menu {
    font-size: 28px;
    margin: auto 20px;
    display: block;
  }
  .fa:hover {
    cursor: pointer;
  }
}

/* ---about-- */
#about {
  margin-top: 0px;
  padding-top: 70px;
  background-color: white;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;

  text-align: center;
}
#about h1 {
  font-size: 30px;
  /* border-right:3px solid blue;
    border-left:3px solid blue; */
  border-bottom: 3px solid rgb(42, 97, 214);
  width: 115px;
  margin: auto;
}

.about-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.about-para {
  margin-top: 30px;

  width: 40%;
  margin-left: 26px;
}
.about-para h2 {
  text-align: left;
  color: rgb(42, 97, 214);
}
.about-para p {
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  line-height: 1.4rem;
}
.about-img img {
  margin-top: 20px;
  width: 300px;
}

@media (max-width: 550px) {
  .about-container {
    display: block;
  }
  .about-para {
    width: 80%;
    margin: auto;
  }
}
/* ---services---- */
#services {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.services-col {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
#services h1 {
  font-size: 30px;
  border-right: 4px solid blue;
  border-left: 4px solid blue;

  width: 250px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;

  padding: 8px;
}
.service-img img {
  width: 300px;
}
.service-para {
  margin: 0px 20px;
}
.service-para p {
  line-height: 1.5rem;
}
.service-para h2 {
  color: rgb(42, 97, 214);
  margin-bottom: 20px;
}
.dev-btn button {
  margin-top: 20px;
  padding: 6px 23px;
  background-color: rgb(79, 96, 250);
  color: white;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.dev-btn button:hover{
  background-color: rgb(67, 67, 255);
}
@media (max-width: 670px) {
  .service-img img {
    width: 200px;
  }
}
@media (max-width: 550px) {
  .services-col {
    display: block;

    text-align: center;
    width: 80%;
    margin: 60px auto;
  }

  .service-para {
    text-align: left;
    margin: auto;
  }
}

/* -----internship---- */
#internship {
  width: 90%;
  margin: 70px auto;
}
#internship h1 {
  font-size: 30px;
  border-right: 3px solid blue;
  border-left: 3px solid blue;
  width: 280px;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
}
#internship ul {
  margin-bottom: 70px;
}
.intern-box {
  width: 90%;
  margin: auto;
}
.intern-box ul li{
  margin-top: 5px;
}
.internship-col {
  width: 350px;
  border: 1px solid lightgray;
  /* padding-bottom: 12px; */
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
  transition: 0.5s;
  border-radius: 10px;
}
.internship-col:hover {
  box-shadow: 5px 4px 15px lightgray;
}
.internship-para p {
  margin-top: 15px;
  line-height: 1.3rem;
}
.internship-img img {
  width: 180px;
  height: 180px;
}
.internship-container {
  display: flex;
  justify-content: space-around;
}
.apply button {
  margin-top: 20px;
  padding: 6px 23px;
  background-color: rgb(71, 89, 250);
  color: white;
  font-size: 15px;
  border-radius: 20px;
}
.apply button:hover{
  background-color: rgb(60, 76, 224);
  cursor: pointer;
}
@media (max-width: 705px) {
  .internship-col {
    width: 200px;
  }
}
@media (max-width: 600px) {
  .internship-container {
    display: block;
  }
  .internship-col {
    margin: auto;
    margin-top: 30px;
    width: 360px;
  }
  .internship-img img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 390px) {
  .internship-col {
    width: 280px;
  }
  #internship h1 {
    width: 200px;
  }
}
/* -----contact------ */
#contact h2 {
  font-size: 30px;
  border-right: 4px solid blue;
  border-left: 4px solid blue;
  width: 250px;
  padding: 6px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;

}
form {
  margin: 20px auto;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.19);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}
input {
  margin: 10px 0px;
  border: 1px solid lightgray;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}
.name {
  display: flex;
  justify-content: space-between;
}
.name input {
  margin-right: 5px;
}

.email input {
  width: 100%;
}

textarea {
  outline: none;
  padding: 10px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
}
form button {
  margin-top: 15px;
  padding: 10px 20px;
  transition: 0.5s;
  background: rgb(7, 145, 7);
  color: white;
  border-radius: 10px;
}
form button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 5px lightgray;
  background-color: rgb(21, 187, 21);
}
@media (max-width: 600px) {
  form {
    width: 80%;
  }
}
@media (max-width: 523px) {
  form .name {
    display: block;
  }
  .name input {
    width: 100%;
  }
}
/* -----footer---- */
.footer {
  color: white;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  /* background: linear-gradient(rgb(50, 50, 255), rgb(230, 64, 177)); */
  background-color: rgb(39, 39, 39);
  padding: 40px 20px 20px 20px;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  color: white;
}

.footer .box {
  width: 250px;
}
.line {
  border: 1px solid lightgray;

  width: 90%;
  margin: auto;
}
.copy {
  background: rgb(114, 134, 250);
}
.copy p {
  color: white;
  padding: 8px 0px;
  text-align: center;
}
.fa-envelope-o {
  margin-right: 6px;
}
.footer h3 {
  margin-top: 25px;
  margin-bottom: 9px;
}
.footer a {
  color: white;
}
.footer .fa {
  margin-top: 8px;
  margin-right: 10px;
}

@media (max-width: 620px) {
  .footer {
    display: block;
  }
}

p{
  font-size: 15px;
  color: rgb(104, 104, 104);
  word-spacing: 0.4rem;
  line-height: 1.4rem;
}
@media(max-width:600px){
  p{
    font-size: 14px;
  }
  .about-para p{
    font-size: 14px;
  }
}
@media(max-width:470px){
  p{
    font-size: 13px;
  }
  .about-para p{
    font-size: 13px;
  }
}
/* ================================================= */

@media(max-width:600px){
  .container h2{
    font-size:30px;
  }
}
